html, body {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif; 
  background-color: #222;
  color: whitesmoke;
}

.CodeMirror *{
  font-family: 'Roboto Mono', monospace;
}

.monospaced {
  font-family: 'Roboto Mono', monospace;
  min-height: 2.5em;
  
}
